<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

  </head>
  <body>


  <% include navBar.ejs %>

    <form id="login" action="/login" method="post">

      <div class="Login">
        <h2 class="LoginText">Login</h2>
        <div class="LoginUsername" id="LoginUsername">
          <input class="loginUser"  type="text" name="username" required="">
          <label class="loginUser" for="LoginUser">Username</label>
        </div>

        <div class="LoginPassword">
          <input class="loginPassword" type="password" name="password" required="">
          <label class="loginPassword" for="loginPassword">Password</label>
        </div>

        <input class="submit" id="submit" type="submit" form="login" value="Login" name="login" >

        </div>

    </form>



  </body>
</html>
