<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>

    <div class="navbar">

        <a href="/">Home</a>
        <a href="/Register">Register</a>
        <a href="/Table">Table</a>
        <a href="Safe">Safe</a>

        <form action="/logout" method="post" id="logout">
            <input type="submit" form="logout" id="submitLogout" value="Logout" name="submitLogout" >
        </form>

    </div>


</body>
</html>