<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

</head>
<body>

<% include navBar.ejs %>

<form id="register" action="/register" method="post">

    <div class="Register">
        <h2 class="RegisterText">Register</h2>

        <div class="RegisterUsername" id="registerUsername">
            <input class="RegisterUser"  type="text" name="username" maxlength="25" required="">
            <label class="RegisterUser" for="registerUser">Username</label>
        </div>

        <div class="RegisterPassword">
            <input class="Register_Password" type="password" name="password"  required="" maxlength="50">
            <label class="Register_Password" for="registerPassword">Password</label>
        </div>

        <input class="submit" id="submit" type="submit" form="register" value="Register" name="register" >

    </div>

</form>

</body>
</html>