<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include navBar.ejs %>

<form id="register" action="/register" method="post">

    <div class="Register">
        <h2 class="RegisterText">Register</h2>

        <div class="RegisterUsername" id="registerUsername">
            <input class="RegisterUser"  type="text" name="username" required="">
            <label class="RegisterUser" for="registerUser">Username</label>
        </div>

        <div class="RegisterPassword">
            <input class="RegisterPassword" type="password" name="password" required="" >
            <label class="RegisterPassword" for="registerPassword">Password</label>
        </div>

        <input class="submit" id="submit" type="submit" form="register" value="Register" name="register" >

    </div>

</form>



</body>
</html>