<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>

<% include navBar.ejs %>

<div class="Safe">
    <center class="SafeTitle"><%= title %></center>
    <center>Welcome to <%= title %></center>
</div>



</body>
</html>