<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>


<form action="/logout" method="post" id="logout">
    <input type="submit" form="logout" id="submitLogout" value="Logout" name="submitLogout" >
</form>


</body>
</html>